<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hello!</h2>
                    <h3 class="section-subheading text-muted">I'm Josi, a web developer based out of Toronto, Canada.
                    <br>I specialize in creating dynamic websites tailored to personalized needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamic Applications</h4>
                    <p class="text-muted">I've built scalable web applications with a multitude of functions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <p class="text-muted">I'm comfortable using: HTML/CSS3, SaSS, Javascript/ES6, Angular2, NodeJS, PHP and more!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Themes</h4>
                    <p class="text-muted">I'm confident hacking on popular CMS such as Wordpress to create dynamic custom themes.</p>
                </div>
            </div>
        </div>
    </section>
