<!DOCTYPE html>
<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted">  On paper, I am a pre-med student with intent to go into dentistry, but after getting a taste of programming from online courses, I wanted to try something new!
                    Web development gave me the opportunity to challenge myself and to apply a novel way of thinking that is applicable to any fields.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2016</h4>
                                    <h4 class="subheading">University of Toronto BS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated with honours from the University of Toronto with a double major in Health & Diesease and Genome Biology, and a minor in Writing and Rhetoric.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Awards & Accomplishments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <ul>
                                        <li>
                                          President Scholarship UofT
                                        </li>
                                        <li>
                                          Rose M Patten Scholarship UofT
                                        </li>
                                        <li>
                                          Medical Placement Certificate
                                        </li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Red Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my journey as a web developer by taking an immersive full-time Professional Web Development course at Red Academy.
                                      I breezed through their (tough!) assignments, interacting with web API's, creating themes and plugins from scratch and many more!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To be
                                    <br>Continued</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
