<!DOCTYPE html>
<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted"> I went to university and studied pre-med with the intent to become a dentist. My experience with data and statistics in university exposed me to programming as a career, and so
                      I began exploring coding with online courses. Having enjoyed the challenge that coding presented, I decided to pursue a career in web development. I am about to graduate from RED Academy's 12-Week Full Time Web Developemnt Professional course (in fact, I built this website from scratch).
                      I am looking for opportunities to continue to grow as developer, and bring my enthusiaum for problem solving to my first development role. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2016</h4>
                                    <h4 class="subheading">University of Toronto BS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated with honours from the University of Toronto with a double major in Health & Diesease and Genome Biology, and a minor in Writing and Rhetoric.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Awards & Accomplishments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <ul>
                                        <li>
                                          President Scholarship UofT
                                        </li>
                                        <li>
                                          Rose M Patten Scholarship UofT
                                        </li>
                                        <li>
                                          Medical Placement Certificate
                                        </li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">RED Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my journey as a web developer by taking an immersive full-time Professional Web Development course at RED Academy.
                                      I completed their tough assignments, while taking on additional challenges to grow my new skill sets such as mocha and chai testing frameworks for a job application. In class I learned how to interact with web API's, create custom themes and plugins from scratch, and demonstrated leadership as project lead for the development of Sage Canada's website.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To be
                                    <br>Continued</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
