<!DOCTYPE html>
<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted"> I went to university and studied pre-med with the intent to become a dentist. My experience with data and statistics in university exposed me to programming as a career, and so
                      I began exploring coding with online courses. Having enjoyed the challenge that coding presented, I decided to pursue a career in web development. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2016</h4>
                                    <h4 class="subheading">University of Toronto BS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated with honours from the University of Toronto with a double major in Health & Disease and Genome Biology, and a minor in Writing and Rhetoric.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Awards & Accomplishments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <ul>
                                        <li>
                                          President Scholarship UofT
                                        </li>
                                        <li>
                                          Rose M Patten Scholarship UofT
                                        </li>
                                        <li>
                                          Medical Placement Certificate
                                        </li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">HarvardX, Udemy, Workshops</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my journey as a web developer by taking an Intro to Computer Science at HarvardX. I fell in love with the thought process and the challenges of creating something from scracth. I then self taught myself various other languages through online tutorials, books, and seminars/workshops. Building applications is one thing, but designing and understanding the user experience is another. To build on my web development skills, I also took various courses on UX! 
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/freelance.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>Present</h4>
                                  <h4 class="subheading">Freelance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I am currently enjoying providing extensible web development solutions for my clients. They have put their trust in me to build them marketable solutions and I am happy to oblige!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To be
                                    <br>Continued</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
